@mixin button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliderInner {
  width: 100%;
  height: 100%;
  position: relative;
}

.prevButton {
  left: 10px;
  @include button;
}

.nextButton {
  right: 10px;
  @include button;
}
