@mixin button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(127, 126, 126, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  visibility: hidden;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  &:hover {
    .prevButton,
    .nextButton {
      visibility: visible;
    }
  }
}

.sliderInner {
  width: 100%;
  height: 100%;
  position: relative;
}

.prevButton {
  left: 10px;
  @include button;
}

.nextButton {
  right: 10px;
  @include button;
}
