.auth {
    max-width: 30rem;
    margin: 0 auto;
}

.submitButton {
    background-color: $--site-primary-color;
    color: white;
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: $--site-radius-default;
    height: 2.875rem;   
}