.appButton {
  background-color: $--site-primary-color;
  color: white;
  border: none;
  font-weight: bold;
  width: 100%;
  border-radius: $--site-radius-default;
  height: 2.875rem;
  cursor: pointer;
}

.primary {
  background-color: $--site-primary-color;
}

.danger {
  background-color: $--color-red-600;
}

.success {
  background-color: $--color-green-600;
}
