$--site-site-font-size-sm: 14px;

$--color-slate-500: #64748b;
$--color-slate-400: #94a3b8;
$--color-red-600: #dc2626;
$--color-gray-200: #e5e7eb;
$--color-gray-300: #d1d5db;

$--site-header-topbar-font-size: 13px;

$--site-form-input-height-base: 44px;

$--site-radius-default: 6px;
$--site-primary-color: rgb(0, 113, 220);

$--site-label-size: 0.7125rem;
$--site-form-button-weight: 600;

$--site-form-button-height-base: 44px;
