:root {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
}

.container {
  max-width: 1460px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.swal2-deny {
  margin: 0!important;
}