.baseInputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.7rem;
}

.baseInput {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  border: 1px solid $--color-gray-200;
  height: $--site-form-input-height-base;
  color: black;
  border-radius: $--site-radius-default;
  outline: none;
  box-shadow: 0 0.0625rem 0.125rem rgba(2, 6, 23, 0.05);
  width: 100%;
  &:hover {
    border-color: $--color-slate-400;
  }
}

.error {
  color: $--color-red-600;
}


.label {
  font-size: $--site-label-size;
  margin-bottom: 0.3125rem;
}
