.wishListContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 2rem;
  max-height: 800px;
  overflow-y: auto;
}

.wishListCard {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  padding: 1.1rem;
  text-decoration: none;
  color: inherit;
}

.wishListCard:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  cursor: pointer;
  background-color: #fcf0f0;
}

.wishListCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1), 15px 15px 0px rgba(0, 0, 0, 0.1),
    20px 20px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.wishListCard .wishListCardTitle {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.wishListCard .wishListCardPrice {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.wishListForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.wishlistItems {
  // display: table;
  th {
    border-bottom: 1px solid $--color-slate-200;
    text-align: left;
    padding: 0.5rem 2.5rem;
  }

  td {
    border-bottom: 1px solid $--color-slate-200;
    text-align: left;
    padding: 0.5rem 2.5rem;
  }
}
